/* 기본 CSS 스타일 */
a {
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background: #422800;
}

/* 배경, 헤더 스타일 */
.bg {
  background: #ffeed8;
  width: 1279px;
}

.page-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 1280px;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.page-header h2 {
  width: 10rem;
}

.logo-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo-wrapper h2 {
  font-size: 1.9rem;
  margin-top: 0.5rem;
  color: rgb(59, 27, 0);
}

.logo {
  width: 7rem;
}

/* 카카오나무 이미지 (메인페이지 배경) */
.main-bg {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url(./src/img/main-bg.png);
  width: 1280px;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-bg h2 {
  font-size: 7.8rem;
  margin: 0;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: #3a2200;
}

.main-bg h3 {
  color: #352000;
  font-size: 1.3rem;
  margin-top: 0.3rem;
}

.main-nav {
  display: flex;
  margin-left: 26rem;
  margin-top: 0.5rem;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.main-nav li {
  margin: 0 2rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.main-nav a {
  color: #2b1a00;
}

/* 드롭다운 스타일 (ICCO) */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  margin-left: 0.5rem;
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  display: block;
  padding: 5px 10px;
  color: #333;
  text-decoration: none;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.info-link:hover {
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Footer 스타일 */
.footer {
  position: relative;
  width: 1281px;
  height: 300px;
  background-image: url("/2024-webdesign/src/img/footer-img.png");
  background-size: cover;
  background-position: center;
}

.footer-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 1;
}

.footer-content h3 {
  color: black;
  font-size: 1.55rem;
  margin-top: 1rem;
}

.footer-content p {
  font-size: 0.8rem;
}

/* NEWS page 스타일*/
#news .page-title {
  color: #422800;
  text-align: center;
  font-size: 4.5rem;
  margin-top: 0;
  padding-top: 5.5rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  gap: 3rem;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  max-width: 1200px;
  margin-top: 3rem;
}

.item img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border: 4px solid rgba(20, 9, 0, 0.61);
  border-radius: 0.5rem;
}

.link {
  color: rgb(78, 78, 78);
}

/* FUTURE page 스타일 */
.page-title {
  color: #422800;
  text-align: center;
  font-size: 4.5rem;
  margin-top: 0;
  padding-top: 5.5rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.future-contents {
  display: flex;
  justify-content: space-between;
}

.future-bg {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url("./src/img/main-bg.png");
  background-size: covor;
  background-position: center;
  height: 18rem;
}

article {
  width: 65%;
  margin-left: 9rem;
}

article h2 {
  margin-top: 5rem;
}

html {
  scroll-behavior: smooth;
}

aside {
  width: 20%;
  height: 35%;
  margin-top: 3rem;
  position: sticky;
  top: 5rem;
  left: auto;
  padding: 1rem;
  background: #fff5e6;
  border: 1px solid #c4a484;
  border-radius: 8px;
}

.sub-title {
  padding-bottom: 0.5rem;
  padding-left: 0.25rem;
  margin-bottom: 0.1rem;
  border-bottom: 2px solid #4b2d00;
  color: #4e2f00;
  font-weight: bold;
  width: 13rem;
}

.sub-menu {
  list-style: none;
  padding: 0;
}

.sub-menu li {
  border-bottom: 1px solid #524439;
  padding-left: 0.4rem;
  padding-bottom: 0.4rem;
  margin-top: -0.4rem;
  margin-bottom: 1rem;
  width: 13rem;
}

.sub-menu a {
  display: block;
  color: #855000;
  margin-left: 0;
}

/* CONTACT page 스타일*/
.map-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 3rem;
}

.map-wrapper h3,
p {
  margin: 0;
}

.map-wrapper h2 {
  color: #523100;
  font-size: 2rem;
}

.map {
  border: 2px solid rgb(92, 45, 2);
  border-radius: 0.5rem;
}

.divider {
  border: 1.5px solid rgb(146, 77, 13);
  width: 55rem;
  margin-top: 3rem;
}

.label-wrapper {
  display: flex;
  flex-direction: column;
}

.label-wrapper label {
  font-size: 1.2rem;
  font-weight: 500;
  color: #3a2200;
  margin-top: 1rem;
}

.label-wrapper input,
textarea {
  background: #ffe5ca;
  border: 2px solid rgb(75, 34, 0);
  border-radius: 0.3rem;
  font-size: 1rem;
  padding: 0.4rem;
  width: 15rem;
  color: #2b1a00;
}

.button {
  width: 16rem;
  margin-top: 0.6rem;
  background: #834a00;
  padding: 0.3rem;
  font-size: 1.1rem;
  font-weight: bold;
  border: 2px solid rgb(104, 59, 0);
  border-radius: 0.3rem;
  color: #ffddaa;
}
